@model BusCompany.Models.Route

<div>
    <h4> Вы пытаетесь сменить статус маршрута, который используется. Открепите маршрут от путевого листа и попытайтесь снова</h4>
    @Html.ActionLink("Вернутся к просмотру всех маршрутов", "Index")
</div>


