<div>
    <h4> Вы пытаетесь изменить статус маршрута, который используется. Открепите маршрут от путевого листа и попытайтесь снова</h4>
    @Html.ActionLink("Вернутся к просмотру всех маршрутов", "IndexDirector")
</div>


