<div>
    <h4> Невозможно отправить данный маршрут на удаление или редоктирование. В настоящий мамент маршрут прикреплён к путевому листу</h4>
    @Html.ActionLink("Вернутся к просмотру всех маршрутов", "IndexDirector")
</div>


