@{
    ViewBag.Title = "Домашняя страницы";
}

<body style="background-image:url(/Content/Imgn/n.jpg)">
    <h3>Вы имеете доступ к следующим функциям системы:</h3>
    <br>
    <div>
        <ul>
            <li>@Html.ActionLink("Список маршрутов", "IndexDirector", "Route")</li>
            <ul>
    </div>
    <br>
    </body>
