@{
    ViewBag.Title = "Домашняя страницы";
}

<body style="background-image:url(/Content/Imgn/n.jpg)">
<h3>Вы имеете доступ к следующим функциям системы:</h3>
<br>
    <div>
        <ul>
            <h4>Список остановок:</h4>
        <li>@Html.ActionLink("Остановки", "IndexVisitor", "Hult")</li>
        <br>
        <h4>Список всех маршрутов:</h4>
        <li>@Html.ActionLink("Маршруты", "IndexVisitor", "Route")</li>
        <ul>
</div>
<br>
</body>

