@{
    ViewBag.Title = "Домашняя страницы";
}

<h3>Вы имеете доступ к следующим функциям системы:</h3>
<br>
<div>
    <ul>
        <li>@Html.ActionLink("Список маршрутов", "IndexDirector", "Route")</li>
        <ul>
</div>
<br>