@{
    ViewBag.Title = "Домашняя страницы";
}

<link type="text/css" rel="stylesheet" href="/Content/Site.css" />

<h3>Вы имеете доступ к следующим функциям системы:</h3>
<br>
<div>
    <ul>
        <li>@Html.ActionLink("Список остановок", "Index", "Hult")</li>
        <li>@Html.ActionLink("Список маршрутов", "Index", "Route")</li>
        <li>@Html.ActionLink("Список путевых листов", "Index", "Waybil")</li>
        <ul>
</div>
<br>

