@{
    ViewBag.Title = "Домашняя страницы";
}

<h3>Вы имеете доступ к следующим функциям системы:</h3>
<br>
<div>
    <ul>
        <li>@Html.ActionLink("Список работников", "Index", "Employees")</li>
        <li>@Html.ActionLink("Список сервисных работ", "Index", "Service")</li>
        <ul>
</div>
<br>
