@{
    ViewBag.Title = "Домашняя страницы";
}

<link type="text/css" rel="stylesheet" href="/Content/Site.css" />

<h3>Вы имеете доступ к следующим функциям системы:</h3>
<br>
    <div>
        <ul>
            <h4>Список остановок:</h4>
        <li>@Html.ActionLink("Остановки", "IndexVisitor", "Hult")</li>
        <br>
        <h4>Список всех маршрутов:</h4>
        <li>@Html.ActionLink("Маршруты", "IndexVisitor", "Route")</li>
        <ul>
</div>
<br>

