@{
    ViewBag.Title = "Home Page";
}

<div>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Список работников", "Index", "Employees")</li>
        <li>@Html.ActionLink("Список остановок", "Index", "Hult")</li>
    <ul>
</div>