@{
    ViewBag.Title = "Home Page";
}

<br>
<div>
    <ul>
        <li>@Html.ActionLink("Список работников", "Index", "Employees")</li>
        <li>@Html.ActionLink("Список остановок", "Index", "Hult")</li>
        <li>@Html.ActionLink("Список автобусов", "Index", "Bus")</li>
        <ul>
</div>