@{
    ViewBag.Title = "Ошибка";
}

<div>
    <br>
    <h4>Вы не можете удалить данного сотрудника(должность водитель).Водитель привязан к маршруту.</h4>
    @Html.ActionLink("Вернутся к просмотру всех сотрудников", "IndexH")
    <br>
</div>
