<div>
    <br>
    <h4>Вы не можете удалить данного сотрудника(должность кондктор).Кондуктор привязан к маршруту.</h4>
    @Html.ActionLink("Вернутся к просмотру всех сотрудников", "Index")
    <br>
</div>

