@model BusCompany.Models.Hult

<h3>Вы уверены что хотите удалить данную остановку?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название остановки
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HultName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернутся к списку всех остановок", "Index")
        </div>
    }
</div>
